<h1>Cocktail list</h1>


<ol>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <!-- No route matches {:action=>"show", :controller=>"cocktails", :id=>nil}, missing required keys: [:id] -->
  <% end %>
</ol>

<%= link_to 'Add a cocktail', new_cocktail_path(@cocktail) %>

<!-- not completed -->
