<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href=""/cocktails>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a><%= link_to 'Add a cocktail', new_cocktail_path(@cocktail) %></a>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.anemo.co.jp/wp-content/uploads/2018/07/dumbo_summer.jpg);">
  <div class="container">
    <h1><strong>Cocktails</strong></h1>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <!-- <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"> -->
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
         <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
    <% end %>
  </div>
</div>


<!-- to change images -->
<!-- to change link in card-category, color -->
<!-- link_to cocktail_path(cocktail)  link_to ""  -->

<!-- more buttons -->
<!-- bigger and reflex card-category -->
<!-- margins and padings -->


<!-- footer with SNS links -->


<!-- not completed -->
